@use '../abstracts' as *;

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-text-light;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); // 只保留覆盖层
  background-attachment: fixed;
  line-height: 1.6;
  margin: 0;
  padding: 0;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/225-full-size-star-wars-wallpapers-1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1); // 水平镜像背景图片
    z-index: -1;
  }
}

h1 {
  font-size: $font-size-h1;
  color: $color-primary;
  text-align: center;
  margin: $spacing-md 0;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-h2;
  color: $color-primary;
  margin-bottom: $spacing-sm;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-h3;
  color: $color-primary;
  margin-bottom: $spacing-xs;
  font-weight: $font-weight-bold;
}

img {
  transform: scale(0.85);
}

$font-size-base: 16px;